body {
	margin: 0;
	font-family: Arial;
	font-size: 14px;
	line-height: 1.6em;
	color: #747474;
	background-color: rgba(0, 0, 0, .02)
}
h1 {
	text-transform: uppercase;
}
input[type=text],
button {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: .6em 1.2em;
	box-sizing: border-box;
	font-size: inherit;
	line-height: inherit;
	height: auto;
	color: #000;
	border-radius: 3px;
	outline: none;
	-webkit-user-select: none;
}
button {
	background: #fff linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.04) 100%);
}
button:hover {
	cursor: pointer;
	transform: scale(1.03);
}
button:active {
	cursor: pointer;
	transform: scale(1);
}
button:disabled {
	cursor: not-allowed;
	opacity: .3;
	transform: scale(1);
	background: #fff linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.04) 100%) !important;
	color: #000 !important;
}

.setColorPrimary {
	background-color: rgba(63, 90, 150, 1);
	color: #fff;
}
.textPrimary {
	color: rgba(63, 90, 150, 1);
}

.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 3.6em;
	box-sizing: border-box;
}
.align-right {
	text-align: right;
}


.form {
	border-top: 3px solid rgba(66, 98, 168, .1);    
	transition: all 1s;	
    transform: scale(1);
}
.form-name {
	margin: 0; 
	text-align: right; 
	text-transform: uppercase;
	font-size: 1.3em;
}
.form-intro {
    margin-top: .5em;
    margin-bottom: 2em;
	text-align: right;
}
.form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}
.form-group > label {
	width: 30%;
	padding: .6em 0;
	padding-right: 1em;
	text-align: right;
	box-sizing: border-box;
	-webkit-user-select: none;
}
.form-group > div {
	width: 70%;
	position: relative;
}
.form-group > div > input[type=text] {
	width: 100%;
}




.show {	
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
}
.suggest {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	margin-top: -3px;
	padding: .6em 0;
	box-sizing: border-box;
	border-radius: 0 0 3px 3px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	z-index: 1050;
}
.suggest.show {
	display: block;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
}
.suggest ul {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}
.suggest ul li {
	padding: 4px 1.2em;
	cursor: pointer;
}
.suggest ul li:hover {
	background-color: rgba(66, 98, 168, .1);
}



.panel {
	padding: 3.6em;
	margin: 3.6em 0;
	/*background-color: rgba(0, 0, 0, .08)*/
	background-color: rgba(255, 255, 255, .5);
}
.panel > *:first-child {
	margin-top: -.5em;
}
.panel > *:last-child {
	margin-bottom: 0;
}


.result {    
	transition: all 1s;	
    transform: scale(1);
}
.result-title {
	margin: 0;
	text-transform: uppercase;
}
.result-table {
	margin-left: 3.6em;
	margin-bottom: 1em;
	border-bottom: 1px dotted #ccc;
}
.result-table td {
	padding: 0;
}
.result-table tr > td:first-child {
	padding-right: .5em;
	text-align: right;
}




.form.action,
.result.action {	
    transform: scale(0);
}



@media (max-width: 500px) {
	.container {
		padding: 3.6em 0;
	}
	.task {
		padding: 0 3.6em;
	}
}